body{
  background-color: hsl(0, 2%, 10%);
}

p{
  font-size: 10vw;
  color: white;
  text-align: center;
}

#chaser{
  width: fit-content;
  background-color: hsla(0, 100%, 100%, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  box-shadow: 2px 7px 2em 2em hsl(0deg 0% 100% / 50%);
}

.crows{
  width: 40vw;
  animation: crows 13s linear infinite;
}

@keyframes crows {
  100% {
    transform: rotate(360deg);
  }
}