      .splash {
        cursor: pointer;
        position: fixed;
        top: 50%;
        left: 50%;
        height: 99%;
        width: 99%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0);
        transition: all ease-in-out 600ms;
      }

      .hidden {
        transition: 0.5s;
        display: none;
      }

      .splash-text {
        height: 90%;
        color: white;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .dog {
        position: fixed;
        width: 15%;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        border-radius: 20%;
      }
